html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

.root {
    width: 100%;
    height: 100%;
}

.main {
  display: grid;
  grid-template-columns: 1fr 4fr; 
  height: 100%;
}

.navbar {
    background: #f0f0f0;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-right: 1px solid lightgray;
}

.navbar a:hover {
    background: #e0e0e0;
}

.navlink {
    display: flex;
    height: 60px;
    background: #f0f0f0;
}

.drop-navlink {
    display: flex;
    height: 60px;
    background: #f0f0f0;
}

.navlink.activeTab {
    display: flex;
    height: 60px;
    background: #e0e0e0;
}

.navitem {
    text-align: center;
    margin: auto;
}

.dropdown-content {
    width: 100%;
    display: none;
    flex-direction: column;
}

.dropdown-content a {
    display: flex;
    height: 60px;
    background: #d1d1d1;
}

.dropdown-content a:hover {
    background: #f0f0f0;
}

.content {
    background: #d0d0d0;
    display: grid;
    grid-template-rows: 1fr 12fr;
    min-height: 0; 
    gap: 16px;
    padding: 16px 16px 0 16px;
}

.contentSearch {
    background: #d0d0d0;
    display: grid;
    min-height: 0; 
    gap: 16px;
    padding: 16px 16px 0 16px;
} /* temp */

.top-row {
    background: #e0e0e0;
    display: flex;
    gap: 16px;
    padding: 0 16px 0 16px;
    justify-content: flex-end;
    align-items: center;
}

.actionbox {
    display: inline;
    height: 40px;
}

.table-input {
    height: 40px;
    display: flex;
    gap: 16px;
    align-items: center;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
}

.modal-footer {
    display: flex;
    gap: 16px;
    justify-content: flex-end;
}

.form-container {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}

.buttonbox {
    border-radius: 10px;
    border: 1px solid gray;
    height: 40px;
    width: 100px;
    display: inline;
}

.buttonbox.addrow {
    display: none;
}

.textbox {
    height: 40px;
    width: 100%;
}

.bottom-row {
    background: #e0e0e0;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    position: sticky;
    top: 0;
}

tr {
    display: flex;
}

th:not(.actioncol), td:not(.actioncol) {
    flex: 1;
}

.actioncol {
    flex-shrink: 0;
    white-space: nowrap;
    padding-left: 10px;
    width: 150px;
}

.studytag {
    border-radius: 10px;
    border: 1px solid black;
    padding: 5px 10px; 
    margin: 2px;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}