<div class="modal-content">
    <div class="modal-header">
        <h2>Add Entry to {{ table_name }} Table</h2>
    </div>
    <div class="modal-body">
        {% if not table_data %}
            <p>Error: no table found</p>
        {% else %}
            <div class="form-container">
                <form id="addForm" method="POST">
                    {% for row in table_data %}
                        {% if row.Type|lower|startswith('varchar(20)') %}
                            <div class="form-group">
                                <label for="{{ row.Field }}">{{ row.Field }}</label>
                                <input type="text" id="{{ row.Field }}" name="{{ row.Field }}"
                                minlength="0" maxlength="20"><br>
                            </div>
                        {% elif row.Type|lower|startswith('varchar(50)') %}
                            <div class="form-group">
                                <label for="{{ row.Field }}">{{ row.Field }}</label>
                                <input type="text" id="{{ row.Field }}" name="{{ row.Field }}"
                                minlength="0" maxlength="50"><br>
                            </div>
                        {% elif row.Type|lower|startswith('int') %}
                            <div class="form-group">
                                <label for="{{ row.Field }}">{{ row.Field }}</label>
                                <input type="number" id="{{ row.Field }}" name="{{ row.Field }}"><br>
                            </div>
                        {% elif row.Type|lower|startswith('date') %}
                            <div class="form-group">
                                <label for="{{ row.Field }}">{{ row.Field }}</label>
                                <input type="date" id="{{ row.Field }}" name="{{ row.Field }}" value="year-month-day"><br>
                            </div>
                        {% elif row.Type|lower|startswith('tiny') %} 
                            <div class="form-group">
                                {% if row.Field == 'Is_Frozen' %}
                                    <label for="{{ row.Field }}">Is Frozen</label>
                                    <input type="hidden" name="{{ row.Field }}" value="0">
                                    <input type="checkbox" id="{{ row.Field }}" name="{{ row.Field }}" value="1" checked><br>
                                {% else %}
                                    {{ row.Field }}:<br>
                                    <input type="radio" id="{{ row.Field }}Positive" name="{{ row.Field }}" value="1">
                                    <label for="{{ row.Field }}Positive">Positive</label><br>
                                    <input type="radio" id="{{ row.Field }}Negative" name="{{ row.Field }}" value="0">
                                    <label for="{{ row.Field }}Negative">Negative</label><br>
                                {% endif %}
                            </div>
                        {% elif row.Type|lower|startswith('enum') %}
                            <div class="form-group">
                                <label for="{{ row.Field }}">{{ row.Field|title }}</label>
                                <select class="form-control" id="{{ row.Field }}" name="{{ row.Field }}">
                                    {% if form_choices and row.Field in form_choices %}
                                        {% for value, label in form_choices[row.Field] %}
                                            <option value="{{ value }}">{{ label }}</option>
                                        {% endfor %}
                                    {% endif %}
                                </select>
                            </div>
                        {% else %}
                            <p>Error: type not found</p>
                        {% endif %}
                    {% endfor %}
                    {% if table_name == 'Sample' and tag_data is defined and tag_data %}
                        <div class="form-group">
                            Select Studies:<br>
                            {% for tag in tag_data %}
                                <label for="{{ tag.StudyID }}">{{ tag.StudyID }}</label>
                                <input type="checkbox" id="{{ tag.StudyID }}" name="StudyIDs[]" value="{{ tag.StudyID }}"><br>
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% if table_name == 'Test' %}
                        <div class="form-group">
                            <label for="SampleID">SampleID</label>
                            <input type="number" id="SampleID" name="SampleID">
                        </div>
                    {% endif %}
                    {% if table_name == 'Storage' %}
                        <div class="form-group">
                            <label for="TestID">TestID</label>
                            <input type="number" id="TestID" name="TestID">
                        </div>
                    {% endif %}
                </form>
            </div>
        {% endif %}
    </div>
    <div class="modal-footer">
        <button onclick="closeModal()">Cancel</button>
        <button onclick="submitForm('add')">Confirm</button>
    </div>
</div>