<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="static\css\styles.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Home App</title>
    </head>
    <body>
        <section class="root">
            <div class="main">
                <nav class="navbar">
                    <a class="navlink activeTab" data-content="searchbar" data-action="2">
                        <div class="navitem">Table Search</div>
                    </a>
                    <a class="navlink" data-content="sample" data-action="1">
                        <div class="navitem">Sample</div>
                    </a>
                    <a class="drop-navlink">
                        <details id="details" class="navitem">
                            <summary class="navitem-summary">Test List</summary>
                        </details>
                    </a>
                    <div id="dropdown" class="dropdown-content">
                        <a class="navlink" data-content="test" data-action="1">
                            <div class="navitem">Test</div>
                        </a>
                        <a class="navlink" data-content="bap" data-action="2">
                            <div class="navitem">BAP</div>
                        </a>
                        <a class="navlink" data-content="mac" data-action="2">
                            <div class="navitem">MAC</div>
                        </a>
                        <a class="navlink" data-content="catalase" data-action="2">
                            <div class="navitem">Catalase</div>
                        </a>
                        <a class="navlink" data-content="gramstain" data-action="2">
                            <div class="navitem">Gram Stain</div>
                        </a>
                    </div>
                    <a class="navlink" data-content="farm" data-action="1">
                        <div class="navitem">Farm</div>
                    </a>
                    <a class="navlink" data-content="cow" data-action="1">
                        <div class="navitem">Cow</div>
                    </a>
                    <a class="navlink" data-content="storage" data-action="1">
                        <div class="navitem">Storage</div>
                    </a>
                    <a class="navlink" data-content="study" data-action="1">
                        <div class="navitem">Study</div>
                    </a>
                </nav>
                <section class="content">
                    <div id="dynamic-actions" class="top-row">
                        <div class="actionbox" style="flex-grow: 1;">
                            <form id="table-form" method="GET" style="width: 100%;">
                                <div class="table-input">
                                    <input class="textbox" type="text" id="column-names" name="column-names" value="" style="height: 40px;">
                                    <button class="buttonbox" id="search-button">Search</button>
                                </div>
                            </form>
                        </div>
                        <div class="actionbox">
                            <button class="buttonbox" id="export-button">Export</button>
                        </div>
                        <div class="actionbox">
                            <button class="buttonbox addrow" id="add-button">Add</button>
                        </div>
                        <div id="dynamic-modal" class="modal">
                        </div>
                    </div>
                    <div id="dynamic-table" class="bottom-row">
                        {% include 'searchbar.html' %}
                    </div>
                </section>
            </div>
        </section>
        <script>
            const navLinks = document.querySelectorAll('.navlink');
            const dropNavlink = document.querySelector('.drop-navlink');
            const actionButtons = document.querySelectorAll('.buttonbox');

            let submissionCount = 0;
            let firstFormData = null;
            
            navLinks.forEach (link => {
                link.addEventListener('click', (event) => {
                    event.preventDefault();

                    const action = parseInt(link.dataset.action);
                    const content = link.dataset.content;

                    activeTab(event);
                    displayAction(action);
                    loadContent(content);
                });
            });

            dropNavlink.addEventListener('click', (e) => {
                e.preventDefault();
                //e.stopPropagation();
                dropdown();
            });

            actionButtons[0].addEventListener('click', (e) => {
                e.preventDefault();
                search();
            });

            actionButtons[1].addEventListener('click', (e) => {
                e.preventDefault();

            });

            actionButtons[2].addEventListener('click', (e) => {
                e.preventDefault();
                createRow();
            });

            async function loadContent(page) {
                const response = await fetch(`/load-content/${page}`);
                const html = await response.text();
                document.getElementById("dynamic-table").innerHTML = html;
            }

            function refreshContent() {
                const table = getTable();
                loadContent(table);
            }

            function activeTab(e) {
                navLinks.forEach (tab => {
                    tab.classList.remove('activeTab');
                });
                e.currentTarget.classList.add('activeTab');
            }

            async function createRow() {
                const modal = document.getElementById("dynamic-modal");
                const table = getTable();

                const response = await fetch(`/create-data/${table}`);
                const html = await response.text();
                modal.innerHTML = html;
                modal.style.display = "block";
            }

            function getTable() {
                const activeTable = document.querySelector('.activeTab');
                return activeTable.dataset.content;
            }

            function dropdown() {
                const div = document.getElementById("dropdown");
                const details = document.getElementById('details');

                if (div.style.display === "flex") {
                    div.style.display = "none";
                } else {div.style.display = "flex";}

                if (details.open) {
                    details.open = false;
                } else {details.open = true;}
            }

            function closeModal() {
                const modal = document.getElementById("dynamic-modal");
                modal.style.display = "none";
            }

            function displayAction(value) {
                const button = document.querySelector('#add-button');
                if (value === 2) {
                    button.classList.add('addrow');
                } else button.classList.remove('addrow');
            }

            async function submitForm(action) {
                const table = getTable();
                if (action == 'add') {
                    try {
                        const form = document.getElementById("addForm");
                        const formData = new FormData(form); // Collects all form fields
                        let response

                        if (table === "test") {
                            submissionCount++;

                            if (submissionCount === 1) {
                                firstFormData = formData;
                                const type = formData.get('testType');
                                if (type === 'Prototheca') {
                                    response = await fetch(`/create-data/test`, { method: "POST", body: firstFormData });
                                    if (response.ok) {
                                        submissionCount = 0;
                                        firstFormData = null;
                                        refreshContent();
                                        closeModal();
                                        return;
                                    } else return;
                                }
                                response = await fetch(`/create-data/${type}`);
                                const html = await response.text();
                                const modal = document.getElementById("dynamic-modal");
                                modal.innerHTML = html;

                                return; // Exit without submitting
                            } 
                            else if (submissionCount === 2) {
                                response = await fetch(`/create-data/test`, { method: "POST", body: firstFormData });
                                if (response.ok) {
                                    const type = firstFormData.get('testType').toLowerCase();
                                    response = await fetch(`/create-data/${type}`, { method: "POST", body: formData });
                                }
                                // Reset for future submissions
                                submissionCount = 0;
                                firstFormData = null;
                            }
                        } else {
                            response = await fetch(`/create-data/${table}`, { method: "POST", body: formData });
                        }
                        if (response.ok) {
                            refreshContent();
                            closeModal();
                        }
                    } catch (error) {
                        console.error("Create failed:", error);
                        alert("Could not create item");
                    }
                }
                if (action == 'update') {
                    try {
                        const form = document.getElementById("updateForm");
                        const formData = new FormData(form);
                        const response = await fetch(`/update-row/${table}`, { method: "POST", body: formData });
                        if (response.ok) {
                            refreshContent();
                            closeModal();
                        }
                    } catch (error) {
                        console.error("Update failed:", error);
                        alert("Could not update item");
                    }
                }
            }

            async function deleteRow(callElement) {
                const row_data = callElement.closest('tr').cells[0].textContent;
                const modal = document.getElementById("dynamic-modal");

                // Show confirmation modal
                modal.innerHTML = `{% include 'deleteModal.html' %}`
                modal.style.display = "block";

                document.getElementById("confirm-delete").addEventListener("click", async () => {
                    try {
                        const table = getTable();
                        const response = await fetch(`/delete-data/${table}`, {
                            method: "POST",
                            headers: {
                                'Content-Type': 'application/json',
                            },
                            body: JSON.stringify({ RowID: row_data })
                        });
                        if (response.ok) {
                            refreshContent();  // Refresh the table/data
                            modal.style.display = "none";  // Close modal
                        } else {
                            alert("Deletion failed. Server returned an error.");
                        }
                    } catch (error) {
                        console.error("Delete error:", error);
                        alert("Could not delete item. Check console for details.");
                    }
                });
            }

            async function updateRow(callElement) {
                
                const row = callElement.closest('tr');
                const headers = Array.from(row.closest('table').querySelectorAll('th')).map(th => th.textContent.trim());
                const row_data = {};

                Array.from(row.cells).slice(0, -1).forEach((cell, index) => {
                const header = headers[index];
                row_data[header] = cell.textContent.trim();
                });

                const modal = document.getElementById("dynamic-modal");
                const table = getTable();
                
                const response = await fetch(`/update-data/${table}`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(row_data),  // Send as JSON
                });

                const html = await response.text();
                modal.innerHTML = html;
                modal.style.display = "block";
            }

            async function search() {
                const table = getTable();
                console.log("Table value:", table);  
                try {
                    const form = document.getElementById("table-form");
                    const formData = new FormData(form);
                    const searchParams = new URLSearchParams(formData);
                    const url = `/search-table/${table}?${searchParams.toString()}`;
                    const response = await fetch(url);
                    const html = await response.text();
                    document.getElementById("dynamic-table").innerHTML = html;
                }
                catch (error) {
                    console.error("Search error:", error);
                    alert("Failed to find column. Check console for details.");
                }
            }
        </script>
    </body>
</html>