<div>
    {% if table_data is defined and table_data %}
    <table>
        <thead>
            <tr>
                {% for key in table_data[0].keys() %}
                    <th>{{ key }}</th>
                {% endfor %}
                {% if tag_data is defined and tag_data %}
                    <th>StudyID</th>
                {% endif %}
                    <th class="actioncol">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for row in table_data %}
                <tr>
                    {% for value in row.values() %}
                        <td>{{ value if value is not none else 'NULL' }}</td>
                    {% endfor %}
                    {% if tag_data is defined and tag_data %}
                        <td>
                            {% set row_sample_id = row['SampleID'] %}
                            {% for tag in tag_data if tag.SampleID == row_sample_id %}
                                <div class="studytag">{{ tag.StudyID }}</div>
                            {% endfor %}
                        </td>
                    {% endif %}
                    <td class="actioncol">
                        <button class="detailsRow" style="padding: 5px 10px; margin: 2px;">Details</button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>Nothing Searched</p>
    {% endif %}
</div>