<div>
    {% if table_data is defined and table_data %}
    <table>
        <thead>
            <tr>
                {% for key in table_data[0].keys() %}
                    <th>{{ key }}</th>
                {% endfor %}
                    <th class="actioncol">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for row in table_data %}
                <tr>
                    {% for value in row.values() %}
                        <td>{{ value if value is not none else 'NULL' }}</td>
                    {% endfor %}
                        <td class="actioncol">
                            <button onclick="updateRow(this)" style="padding: 5px 10px; margin: 2px;">Edit</button>
                            <button onclick="deleteRow(this)" style="padding: 5px 10px; margin: 2px;">Delete</button>
                        </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No data?</p>
    {% endif %}
</div>