<div class="modal-content">
    <div class="modal-header">
        <h2>Update Entry in Table</h2>
    </div>
    <div class="modal-body">
        {% if not table_data %}
            <p>Error: no table found</p>
        {% else %}
            <div class="form-container">
                <form id="updateForm" method="POST">
                    {% set row_id = row_data.values()|first %}
                    <input type="hidden" name="secret_token" value="{{ row_id }}">
                    {% for row in table_data %}
                        {% if row.Type|lower|startswith('varchar(20)') %}
                            <div class="form-group">
                                <label for="{{ row.Field }}">{{ row.Field }}</label>
                                <input type="text" id="{{ row.Field }}" name="{{ row.Field }}"
                                minlength="0" maxlength="20" value="{{ row_data[row.Field] }}"><br>
                            </div>
                        {% elif row.Type|lower|startswith('varchar(50)') %}
                            <div class="form-group">
                                <label for="{{ row.Field }}">{{ row.Field }}</label>
                                <input type="text" id="{{ row.Field }}" name="{{ row.Field }}"
                                minlength="0" maxlength="50" value="{{ row_data[row.Field] }}"><br>
                            </div>
                        {% elif row.Type|lower|startswith('int') %}
                            <div class="form-group">
                                <label for="{{ row.Field }}">{{ row.Field }}</label>
                                <input type="number" id="{{ row.Field }}" 
                                name="{{ row.Field }}" value="{{ row_data[row.Field] }}"><br>
                            </div>
                        {% elif row.Type|lower|startswith('date') %}
                            <div class="form-group">
                                <label for="{{ row.Field }}">{{ row.Field }}</label>
                                <input type="date" id="{{ row.Field }}" name="{{ row.Field }}" 
                                value="{{ row_data[row.Field] }}"><br>
                            </div>
                        {% elif row.Type|lower|startswith('tiny') %} 
                            <div class="form-group">
                                {% if row.Field == 'Is_Frozen' %}
                                    <label for="{{ row.Field }}">Is Frozen:</label>
                                    <input type="checkbox" id="{{ row.Field }}" name="{{ row.Field }}" checked><br>
                                {% else %}
                                    {{ row.Field }}:<br>
                                    {% set options = ['1', '0'] %}

                                    <input type="radio" id="{{ row.Field }}Positive" name="{{ row.Field }}" 
                                        value="{{ options[0] }}" {% if row_data[row.Field] == option %}checked{% endif %}>
                                    <label for="{{ row.Field }}Positive">Positive</label><br>
                                    <input type="radio" id="{{ row.Field }}Negative" name="{{ row.Field }}" 
                                        value="{{ options[1] }}" {% if row_data[row.Field] == option %}checked{% endif %}>
                                    <label for="{{ row.Field }}Negative">Negative</label><br>
                                {% endif %}
                            </div>
                        {% elif row.Type|lower|startswith('enum') %}
                            {% for column, choices in form_choices.items() %}
                            <div class="form-group">
                                <label for="{{ column }}">{{ column|title }}</label>
                                <select class="form-control" id="{{ column }}" name="{{ column }}">
                                    {% for option, label in choices %}
                                        <option value="{{ option }}"
                                        {% if row_data[column] == option %}selected{% endif %}>
                                        {{ label }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                            {% endfor %}
                        {% else %}
                            <p>Error: type not found</p>
                        {% endif %}
                    {% endfor %}
                </form>
            </div>
        {% endif %}
    </div>
    <div class="modal-footer">
        <button onclick="closeModal()">Cancel</button>
        <button onclick="submitForm('update')">Confirm</button>
    </div>
</div>